.header {
  text-align: center;

  color: rgb(97, 3, 3);
}

.body {
  background-color: green;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
  gap: 2px;
  width: 100%;
  max-width: 600px;
  color: red;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: whitesmoke;
  /* background-color: rgb(247, 196, 196); */
  /* background-color: rgb(212, 160, 17); */
  /* background-color: rgb(150, 198, 237); */
}
